.App {
  text-align: center;
  font-family: Arial, sans-serif;
  height: 100vh;
}

input {
  padding: 5px;
  font-size: 16px;
  margin-right: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.list {
  width: 800px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.dark {
  background-color: #2b3e51;
  transition: background-color 0.3s; 
}

.light {
  background-color: #f0f0f0;
  color: #2b3e51; 
  transition: background-color 0.3s; 
}